@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condesed", sans-serif;
}

/* ----------------NavBar------------------ */
nav {
  z-index: 2;
}

.logo {
  width: 6.25rem;
}

/* ---------Menu------- */
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0675rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

/* -------------Header Style ---------- */
.header-wraper {
  position: relative;
  background: url(./header-background-image.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condesed", sans-serif;
  z-index: 1;
  text-align: center;
}

.main-info h1 {
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.7rem;
  }

  .navbar-brand {
    width: 7rem;
  }
}

/* -------------TYPED TEXT ---------- */
.typed-text {
  font-size: 1.5rem;
}
/* -------------HEADER MAIN OFFER BUTTON ---------- */
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #000;
  margin: 2rem;
  transition: 0.3s;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: #000;
}

/* -----------------PARTICLES JS ------------- */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
